<html>
  <head>
    <title>Cancha</title>
    <link rel="stylesheet" href="./canchaStyle.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="tribuna">
      <form id="form_id" action="index.html" method="post">
        <input type="button" name="some_name" class="balon" value="1">
        <input type="button" name="some_name" class="arquero" value="2">
        <input type="button" name="some_name" class="tapo" value="3">
      </form>
    </body>
    </div>

</html>
