
<!--Bienvenido al .Penalt!!!
form method="post" action="/lanzar">
<input type="text" name="numero"/>
<input type="submit" id="lanzar" value="Lanzar"/>
</form>
Lanzamientos:<%= @lanzamientosCount %> (<%= @pista %>)
-->
<html>
  <head>
    <title>Punto Penal</title>
    <link rel="stylesheet" href="canchaStyle.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id="tribuna">
	Lanzamientos:<%= @lanzamientosCount %> (<%= @pista %>)	
      <form id="form_id" action="/lanzar" method="post">
        <input type="submit" name="some_name" class="balon" value="">
        <input type="submit" name="some_name" class="arquero" value="">
        <input type="submit" name="some_name" class="tapo" value="">		
      </form>
      <div id="name" class="grama"></div>
   </body>
</html>
