
<!--Bienvenido al .Penalt!!!
form method="post" action="/lanzar">
<input type="text" name="numero"/>
<input type="submit" id="lanzar" value="Lanzar"/>
</form>
Lanzamientos:<%= @lanzamientosCount %> (<%= @pista %>)
-->
<html>
  <head>
    <title>Punto Penal</title>
    <link rel="stylesheet" href="canchaStyle.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body id="tribuna">	
      <form id="form_id" action="/lanzar" method="post">
        <input type="submit" name="some_name" class="balon" value="1">
        <input type="submit" name="some_name" class="arquero" value="2">
        <input type="submit" name="some_name" class="tapo" value="3">		
      </form>
      <div id="name" class="grama"> 	Goles:<%= @goles %> <br/> Atajadas: <%= @atajos %> </div>
   </body>
</html>
